:root {
  --text-color: white;
  --background-color: black;
  --menu-background-color: hsl(0, 0%, 7%);
  --accent-color: hsl(280, 65%, 44%);
  --secondary-accent-color: orange;
  --tertiary-accent-color: green;
}

body {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body * {
  font-family: "Lucida Console", Monaco, monospace;
}

select {
  position: absolute;
  top: 2vmax;
  right: 8vmax;
  height: 3vmax;
  font-size: 1vmax;
  padding: 0 1vmin;
  color: var(--text-color);
  background-color: var(--menu-background-color);
  border-radius: 0.25rem;
  font-family: "Verdana", sans-serif;
}

.row {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  width: 75vh;
}

.key,
.cKey {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0.2vh solid var(--accent-color);
  height: 75%;
  width: 5%;
  opacity: 0.5;
  border-radius: 0.45rem;
  vertical-align: top;
}

.letter {
  display: block;
  font-size: 2.2vh;
  font-weight: bold;
  text-transform: uppercase;
}

.homeRow {
  box-shadow: 0 0 5px 2px hsl(0deg 0% 100% / 44%);
}

.gap {
  border: none;
  background: none;
}

.twou {
  width: 11.75%;
}

.onepointfiveu {
  width: 8.8125%;
}

.onepointsevenfiveu {
  width: 10.28125%;
}

.twopointtwofiveu {
  width: 13.21875%;
}

.twopointsevenfiveu {
  width: 16.15625%;
}

.onepointtwofiveu {
  width: 7.34375%;
}

.sixpointtwofiveu {
  width: 36.71875%;
}

.inactive {
  opacity: 0.6;
  border-color: var(--accent-color);
}

.newInThisLevel {
  border-color: var(--tertiary-accent-color);
  color: var(--tertiary-accent-color);
  opacity: 1;
  filter: brightness(1.2);
}

.restingPosition {
  text-decoration: underline;
}

.active {
  border-color: var(--accent-color);
  color: var(--accent-color);
  opacity: 1;
  filter: brightness(1.5);
}

.punctuation {
  border-color: var(--text-color);
  color: white;
  opacity: 1;
  filter: brightness(1.5);
}

.cKey {
  border-color: var(--accent-color);
}

.cKey:hover {
  border-color: white;
}

.cKey .letter {
  z-index: -1;
  text-transform: none;
  font-size: 2vmax;
}

.normalCKey {
  border-color: #777;
}

.selectedInputKey,
.selectedInputKey:hover {
  border-color: white;
  opacity: 0.9;
}

.pulse {
  animation: pulse 0.8s infinite;
}

#selectedInputKey {
  background: var(--accent-color);
}

.noDisplay {
  display: none;
}

.oldnoDisplay {
  display: none;
}

.visible {
  display: block;
}

.transparent {
  opacity: 0;
}

/*___________________________ANIMATIONS________________________*/
.slideLeft {
  position: relative;
  color: blue;
  animation: slideLeft 0.2s 1 linear;
  animation-fill-mode: forwards;
}

.slideOff {
  position: relative;
  color: blue;
  animation: slideOff 0.2s 1 linear;
  animation-fill-mode: forwards;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
