:root {
  --text-color: white;
  --background-color: black;
  --menu-background-color: hsl(0, 0%, 7%);
  --accent-color: hsl(280, 65%, 44%);
  --secondary-accent-color: orange;
  --tertiary-accent-color: green;
}

body {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body * {
  font-family: "Lucida Console", Monaco, monospace;
}
